.grade-table {
    border-spacing: 15px 0px;
}

.student-name {
    font-size: 30px;
}

.student-thumb {
    float: left;

    img {
        display: block;
        margin-left: 50px;
        height: 100px;
    }
}

.student-content {
    margin-left: 200px;
}

.tag-section {
    margin: 10px;
}

.tag {
    // padding-left: 10px;
    // padding-right: 10px;
    padding: 8px;
    margin: 4px;
    background: #ddd;
    border-radius: 3px;
}

.student-extra-info {
    margin-top: 10px;
}
