input.filter {
    width: 95%;
    font-family: 'Arial';
    height: 35px;
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid #dddddd;
    font-size: 25px;
    margin-left: 10px;
    margin-top: 10px;

    color: #777777;
}
